.header {
    
    padding-bottom: 0.5em;
    border-bottom: black 2px solid;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .footer {

    padding-top: 0.4em;
    padding-left: 10em;
    border-top: black 1px solid;
  }

  * {
    margin: 0;
  }

    a {
        text-decoration: none;     
  }

  li {
      display: inline;
      padding-left: 0.3em;
      padding-right: 0.3em;
  }