.main-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0.5em;
}

@media (max-width: 632px) {
  .article {
    margin-top: 6em;
  }
}
