  .work-container {
border-bottom: black 1px solid;
   
  }
  .experience1 {
    
    margin: 5em 10em 5em 10em;
    
  }
  
  .experience2 {
   
    margin: 5em 10em 5em 10em;
  }

  .experience3 {
    margin: 5em 10em 5em 10em;
  }

  .experience4 {
    margin: 5em 10em 5em 10em;
  }

  .experience5 {
    margin: 5em 10em 5em 10em;
  }

  .experience6 {
    margin: 5em 10em 5em 10em;
  }

  p {
    padding-bottom: 1.5em;
  }

  img {
    padding-right:0.5em;
  }

  h1 {
    margin: 2em;
  }