.work-container {
  border-bottom: black 1px solid;
}

.experience1,
.experience2,
.experience3,
.experience4,
.experience5,
.experience6 {
  margin: 5em 5em 5em 5em;
}

p {
  padding-bottom: 1.5em;
}

img {
  padding-right: 0.5em;
}

.h1-experience {
  margin: 2em;
}
